<div class="flex flex-col mt-10 font-roboto text-center mx-auto">
  <h2 class="text-3xl font-black font-serif tracking-wider">EDUCATION</h2>
  
  <div class="mt-6">
    <p>2022-Present</p>
    <h4 class="text-xl font-bold tracking-wider">Holy Angel University</h4>
    <p class="w-[40ch] mx-auto">Bachelor of Science in IT Specializing in Web Development</p>
  </div>

  <div class="mt-6">
    <p>2018-2020</p>
    <h4 class="text-xl font-bold tracking-wider">Chevalier School</h4>
    <p class="w-[40ch] mx-auto">Senior High School - Accountancy, Business, and Management</p>
  </div>

  <div class="mt-6">
    <p>2014-2018</p>
    <h4 class="text-xl font-bold tracking-wider">Chevalier School</h4>
    <p class="w-[40ch] mx-auto">Junior High School</p>
  </div>
</div>
