<div class="flex flex-col mt-10 font-roboto text-center mx-auto">
  <h2 class="text-3xl font-black font-serif tracking-wider">REFERENCES/</h2>
  <h2 class="text-3xl font-black font-serif tracking-wider">CERTIFICATES</h2>

  <div class="mt-6">
    <p class="text-xl font-bold tracking-wider">Cybersecurity Essentials</p>
    <p class="text-xl font-bold tracking-wider">Responsive Web Design</p>
    <p class="text-xl font-bold tracking-wider">Legacy JavaScript Algorithms and Data Structures</p>
    <p class="mt-1">More upcoming....</p>
  </div>
</div>
