<div class="flex flex-col mt-10 font-roboto text-center mx-auto">
  <h2 class="text-3xl font-black font-serif tracking-wider">PROJECTS</h2>
  
  <div class="mt-6">
    <h4 class="text-xl font-bold tracking-wider">Gaming Chronicles Website</h4>
    <p class="w-[40ch] mx-auto">Project Manager & Full Stack Web Developer</p>
  </div>

  <div class="mt-6">
    <h4 class="text-xl font-bold tracking-wider">Game Vault Website</h4>
    <p class="w-[40ch] mx-auto">Front-end Web Developer & Database Developer</p>
  </div>

  <div class="mt-6">
    <h4 class="text-xl font-bold tracking-wider">Millet's BBQ Website</h4>
    <p class="w-[40ch] mx-auto">Front-end Web Developer</p>
  </div>
</div>
