<div class="mx-16">
  <app-personal-info></app-personal-info>
</div>
<hr class="border border-black mt-8" />
<div class="mx-16">
  <div class="flex justify-between mx-auto w-[1200px]">
    <app-education-history class="w-[45%]"></app-education-history>
    <app-projects class="w-[45%]"></app-projects>
  </div>
</div>
<hr class="border border-black mt-8" />
<div class="mx-16">
  
  <div class="flex justify-between mx-auto w-[1200px]">
    <app-references class="w-[45%]"></app-references>
    <app-tools class="w-[45%]"></app-tools>
  </div>
</div>
