<footer class="bg-gray-500 text-light py-8 mt-10">
    <div class="container mx-auto">
      <div class="text-center mb-4">
        <h5 class="text-3xl font-semibold">Follow Me</h5>
      </div>
  
      <div class="flex justify-center mb-4 space-x-16">
        <a href="https://facebook.com" target="_blank" class="text-light text-xl flex items-center space-x-2 hover:text-gray-300">
          <i class="bi bi-facebook text-2xl"></i> <span>Facebook</span>
        </a>
        <a href="https://twitter.com" target="_blank" class="text-light text-xl flex items-center space-x-2 hover:text-gray-300">
          <i class="bi bi-twitter text-2xl"></i> <span>Twitter</span>
        </a>
      </div>
  
      <div class="mt-4 text-center">
        <p>&copy; 2024 Christian Ralph Tan. Gaming Blog. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  