<section class="py-5 bg-gray-100">
    <div class="container mx-auto">
      <div class="flex items-center">
  
        <div class="w-full md:w-1/2">
          <img src="../assets/ER-ft.webp" alt="Featured Post" class="w-full rounded-lg shadow-lg">
        </div>
  
        <div class="w-full md:w-1/2 pl-4 md:pl-8">
          <h2 class="text-4xl font-bold mb-4">
            Featured Blog Post
          </h2>
  
          <p class="text-2xl text-gray-600">
            <mark class="bg-yellow-300 font-semibold text-black">Shadow of the Erdtree</mark> is an expansion for Elden Ring, the critically acclaimed action role-playing game developed by FromSoftware and published by Bandai Namco Entertainment.
            This expansion promises to build upon the dark fantasy world of Elden Ring, which is set in the vast, interconnected lands of the Lands Between.
          </p>
        </div>
  
      </div>
    </div>
  </section>
  