<section class="py-5 mt-16">
    <div class="container mx-auto">
      <h2 class="text-center text-3xl font-bold mb-4">My Latest Blog Posts</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  
        <div class="h-full bg-white rounded-lg shadow-lg">
          <img src="../assets/Astro.avif" class="w-full h-48 object-cover rounded-t-lg" alt="Blog Post 1">
          <div class="p-4">
            <h5 class="text-xl font-semibold mb-2"><mark class="bg-yellow-300 font-semibold">Astro Bot</mark></h5>
            <p class="text-gray-600 text-xl">
              Astro Bot Rescue Mission is a highly praised VR platformer for PlayStation VR. Players control Astro, a small robot, on a mission to rescue his crew. 
              The game features innovative VR mechanics, creative level design, and fun puzzles, offering an immersive and unique experience.
            </p>
          </div>
        </div>
  
        <div class="h-full bg-white rounded-lg shadow-lg">
          <img src="../assets/Metaphor.jpeg" class="w-full h-48 object-cover rounded-t-lg" alt="Blog Post 2">
          <div class="p-4">
            <h5 class="text-xl font-semibold mb-2"><mark class="bg-yellow-300 font-semibold">Metaphor: ReFantazio</mark></h5>
            <p class="text-gray-600 text-xl">
              Metaphor: ReFantazio is a turn-based RPG from the creators of Persona and Shin Megami Tensei. Set in a fantasy world where myth and reality blur, 
              the game features classic RPG elements, a unique art style, and a captivating story.
            </p>
          </div>
        </div>
  
        <div class="h-full bg-white rounded-lg shadow-lg">
          <img src="../assets/ff7.avif" class="w-full h-48 object-cover rounded-t-lg" alt="Blog Post 3">
          <div class="p-4">
            <h5 class="text-xl font-semibold mb-2"><mark class="bg-yellow-300 font-semibold">Final Fantasy VII Rebirth</mark></h5>
            <p class="text-gray-600 text-xl">
              Final Fantasy VII Rebirth is the second part of the Final Fantasy VII Remake, continuing Cloud Strife's journey. Set in an expansive open world, 
              it expands the original story with new gameplay mechanics, deeper character development, and a focus on the battle against Shinra and Sephiroth.
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  